main > h1 {
  text-align: center;
}

.callout {
  border: 1px solid black;
  border-radius: 3px;
  padding: 20px;
  background-color: #c0fffe;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: #333333;
    color: whitesmoke;
}

main {
    padding: 20px;
}
